/* ========================== TABLET ========================== */
@media (min-width: 573px) {
  /* ======================= LAYOUT HEADER ======================= */
  .layout__header {
    padding: 1.3rem 2.5rem;
  }

  .header__text:first-child {
    width: fit-content;
    font-size: 2rem;
  }

  .header__text:last-child {
    width: fit-content;
    font-size: 1.2rem;
  }

  .header__search {
    flex-basis: 65%;
    height: auto;
  }

  .search__input {
    width: fit-content;
  }

  .input__box {
    font-size: 1.8rem;
  }

  .header__degree {
    width: 5rem;
    font-size: 3rem;
    height: auto;
  }

  /* ======================= LAYOUT MAIN ======================= */
  .card__item {
    width: 34rem;
    height: 35rem;
  }
}

@media (min-width: 884px) {
  /* ======================= LAYOUT MAIN ======================= */
  .card__content {
    flex-flow: row wrap;
    justify-content: center;
    overflow-y: auto;
  }
}

/* ========================== DESKTOP ========================== */
@media (min-width: 1064px) {
  /* ======================= LAYOUT ======================= */
  .layout {
    grid-template-areas:
      "aside header"
      "aside main";
  }

  /* ======================= LAYOUT HEADER ======================= */

  .header__text:first-child {
    font-size: 2.5rem;
  }

  .header__text:last-child {
    font-size: 1.5rem;
  }

  .header__search {
    flex-basis: 70%;
  }

  /* ======================= MENU TOGGLE ======================= */
  .layout__menu-toggle {
    display: none;
  }

  /* ======================= LAYOUT ASIDE ======================= */
  .layout__aside {
    grid-area: aside;
    position: static;
    max-width: 100%;
    opacity: 1;
  }

  /* ======================= LAYOUT MAIN ======================= */
  .layout__main {
    place-content: center;
  }

  .main__card {
    display: block;
    padding: 1rem;
    padding-top: 3.5rem;
    overflow: hidden;
  }

  .card__content {
    flex-wrap: nowrap;
    justify-content: start;
    height: auto;
    overflow: visible;
  }

  .card__prev,
  .card__next {
    display: block;
    top: 0.3rem;
    right: 1rem;
  }

  .card__prev:hover,
  .card__next:hover {
    fill: var(--secondary-color);
  }

  .card__prev {
    right: 4rem;
  }

  .card__item {
    width: 30rem;
  }
}
